@model Shop.Models.Profile.AddressViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ... Your previous meta tags and title ... -->
    <link type="text/css" rel="stylesheet" href="/css/Edit/address.css">
</head>

<body>

    <div class="profile-container">
        <h1 class="title">Address</h1>
        <div class="contact-info">
            <h4>Address Information</h4>
            <p>City: @Model.City</p>
            <p>Post Code: @Model.PostCode</p>
            <p>Street1: @Model.Street1</p>
            <p>Street2: @Model.Street2</p>
            <p>StreetNumber: @Model.StreetNumber</p>
        </div>

        <!-- Edit Button -->
        <a href="https://localhost:7105/profile/editaddress" class="edit-btn">Edit Address</a>
    </div>

</body>

</html>