@{
    ViewBag.Title = "Add product";
}
@model Shop.Models.Product.AddProductViewModel

<head>
    <link type="text/css" rel="stylesheet" href="/css/AdminPanel/addproduct.css">
</head>

<body>

<div class="container">
    <h1 class="title">Add product</h1>
        <form method="post">
            <div class="form-group">
                <label asp-for="ModelName">Model Name</label>
                <input asp-for="ModelName" class="form-control" placeholder="Make...">
                <span asp-validation-for="ModelName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Two bedrooms..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl">Image Url</label>
                <input asp-for="ImageUrl" class="form-control">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price">Price</label>
                <input asp-for="Price" class="form-control">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ModelTypeId">Model Type</label>
                <select asp-for="ModelTypeId" class="form-control">
                    @foreach (var type in Model.ModelTypes)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="ModelTypeId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeId">Size</label>
                <select asp-for="SizeId" class="form-control">
                    @foreach (var type in Model.Sizes)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="SizeId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MakeId">Make</label>
                <select asp-for="MakeId" class="form-control">
                    @foreach (var type in Model.Makes)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="MakeId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorId">Color</label>
                    <select asp-for="ColorId" class="form-control">
                        @foreach (var color in Model.Colors)
                        {
                            <option value="@color.Id">@color.Name</option>
                        }
                    </select>
                    <span asp-validation-for="ColorId" class="small text-danger"></span>
                </div>
           
            <div class="text-center">
                <input class="add-btn" type="submit" value="Save"/>
            </div>
        </form>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>