
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Change</title>
    <link type="text/css" rel="stylesheet" href="/css/Details/detail.css">
</head>
            <div class="container">
                <div class="image-holder">
                    <img class="image" src="@Model.ImageUrl" />
                </div>
                <div class="information">
                    <h1 class="">@Model.Model</h1>
                    <div class=""></div>
                    <span>Size: @Model.Size</span>
                    <div class=""></div>
                    <span>Color: @Model.Color</span>
                    <div class="">
                        <span>$@Model.Price</span>
                    </div> 
                    <div>
                        <a href="/Details/Add/?productId=@Model.Id" class="add-button">
                            Add to cart
                        </a>
                    </div>
                    <div class="information" style="background: white; padding-top:20px; padding-left: 15px; min-width: auto; max-width: 320px; margin-top: 9px;margin-bottom: 8px; padding-bottom: 20px; min-height: 100px;">
                    <label style="font-size: 15px">Description</label>
            <p class="description">@Model.Description</p>
                    </div>
                    <div class="action">
                      

                        @if (User.IsInRole("Admin"))
                        {
                            <div class="admin-buttons">
                                <a href="/adminpanel/remove?productId=@Model.Id" class="remove-button">
                                    Remove
                                </a>
                                <a href="/adminpanel/editproduct?productId=@Model.Id" class="edit-button">
                                    Edit
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>
</html>