@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Shop.Models.Order.InputOrderViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link type="text/css" rel="stylesheet" href="/css/CheckOut/checkout.css">
</head>

<body>
    <div class="checkout-container">
        <h2 class="">Checkout</h2>

        <section class="shipping-information">
            <h3>Shipping Information</h3>
            <form method="post" asp-controller="CheckOut" asp-action="CheckOut">
                <div class="mb-3">
                    <label asp-for="@Model.City" class="form-label">City</label>
                    <input asp-for="@Model.City" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.City" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Street1" class="form-label">Street 1</label>
                    <input asp-for="@Model.Street1" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.Street1" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Street2" class="form-label">Street 2</label>
                    <input asp-for="@Model.Street2" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.Street2" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.StreetNumber" class="form-label">Street Number</label>
                    <input asp-for="@Model.StreetNumber" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.StreetNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.PostCode" class="form-label">Post Code</label>
                    <input asp-for="@Model.PostCode" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.PostCode" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.SelectedCountryId" class="form-label-add-edit">Country</label>
                    <select asp-for="@Model.SelectedCountryId" class="form-control" aria-required="true">
                        @foreach (var type in Model.Countries)
                        {
                            <option value="@type.Id">@type.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.SelectedCountryId" class="text-danger"></span>
                </div> 
                
                <div class="mb-3">
                    <input class="order-btn" type="submit" value="Place order" />
                </div>
            </form>
        </section>

        <section class="shipping-method">
            <label>
                Shipping - $7.00
            </label>
            
        </section>

        <section class="payment-details">
            <h3>Payment Details</h3>
            <label>
                Cash on Delivery - $3.00
            </label>
        </section>

        <section class="order-review">
            <h3>Review Your Order</h3>
            <div class="product-list">
                @foreach (var product in Model.Products)
                {
                    <div class="product">
                        <span class="product-name">Model: @product.Model</span>
                        <span class="product-size">Size: @product.Size</span>
                        <span class="product-price">Price: $@product.Price</span>
                    </div>
                }
                <div class="product">
                    <span class="product-name">Services</span>
                    <span class="product-name">$10.00</span>
                </div>
            </div>
            <div class="total-price">
                <span>Total: $@ViewBag.Total</span>
            </div>
        </section>
    </div>
</body>
</html>
